body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin-top: 50px;
    z-index: 1;
}
#main {
    border:#1d1c1c solid 2px;
    padding: 20px;
    width: 380px;
    background: #ffffff;
    text-align: center;
    height: 600px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 2%;
    z-index: 1;
}
.grid-container {
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid rgba(7, 6, 7, 0.445);
    width: 360px;
    height: 500px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-container button {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    gap: 15px;
    font-size: 32px;
    cursor: pointer;
}
.grid-container button:hover {
    background-color: #818080
}
#display {
    border: 2px solid #1d1c1c;
    width: 360px;
    height: 50px;
    background: #ffffff;
    margin: 10px 0 0 10px;       
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 26px;
    font-weight: bold;
    
    display: flex;               
    justify-content: flex-end;   
    align-items: center;         
    padding-right: 10px;         

    box-sizing: border-box;       
    white-space: nowrap;          
    overflow: hidden;             
    text-overflow: ellipsis;      
}
.secret {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;

}