body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin-top: 50px;
}
#main {
    border:#1d1c1c solid 2px;
    padding: 20px;
    width: 320px;
    background: #ffffff;
    text-align: center;
    border-left: 20%;
    height: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 5%;
}
